[submodule "firmware/third_party/cherryusb"]
	path = firmware/third_party/cherryusb
	url = https://github.com/cherry-embedded/CherryUSB.git
[submodule "firmware/third_party/cherryrb"]
	path = firmware/third_party/cherryrb
	url = https://github.com/cherry-embedded/CherryRB.git
[submodule "firmware/third_party/cherrydap"]
	path = firmware/third_party/cherrydap
	url = https://github.com/cherry-embedded/CherryDAP.git
